footer{bottom:0;height:200px;left:0;position:absolute;width:100%}
.footer-basic-centered{background-color:#000;box-shadow:0 1px 1px 0 rgba(0,0,0,.12);box-sizing:border-box;margin-top:80px;padding:45px;text-align:center}
.footer-basic-centered .footer-company-motto{color:#fff;font-size:24px;margin:0}
.footer-basic-centered .footer-company-name{color:#D3D3D3;font-size:12px;margin:1% 0 0}
.footer-basic-centered .footer-links{color:#fff;font-weight:700;list-style:none;margin:0;padding:1% 0 0}
.footer-basic-centered .footer-links a{color:inherit;display:inline-block;text-decoration:none}
.footer-links a:hover{text-decoration:underline}