html {
	min-height: 100%;
    position: relative; 
}
body {
    margin: 0 0 200px; /* bottom = footer height */
}
footer {
   
    bottom: 0;
    height: 200px;
    left: 0;
    position: absolute;
    width: 100%;
}

.footer-basic-centered{
	background-color: #000000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	font: normal 18px sans-serif;
	margin-top: 80px;
	padding: 45px;
	text-align: center;
}

.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	color:  #ffffff;
	font-weight: bold;
	list-style: none;
	margin: 0;
	padding: 35px 0 23px;
	
}

.footer-basic-centered .footer-links a{
	color: inherit;
	display:inline-block;
	text-decoration: none;
	
}
.footer-links a:hover{
	color:gray;
}
@media (max-width: 450px){
	body {
    	margin: 0 0 300px; /* bottom = footer height */
	}
	footer {
		bottom: 0;
		height: 300px;
		left: 0;
    	position: absolute;  	
    	width: 100%;
	}	
}
