/* attributes are a-z order */
nav, .w3-modal h2, #popup h1, #popup h4, #banner h1, #banner h2, footer a,{
    font-family: 'Oswald', sans-serif;
}
h1,h2,h3,h4,h5,p, tr, th {
   font-family: 'Merriweather', serif;
   padding-left: 2%;
   padding-right:2%; 
}

#text-change{
    font-family: 'Oswald', sans-serif;
}
p{
    font-size: 19px;
    padding-left: 2%;
    padding-right: 2%;
}

/* Centering body element and text */
.centering{
    display:block;
    margin:0px auto 0px auto;
    max-width:1248px;
}
.centering-text{
    display:block;
    margin:0px auto 0px auto;
    max-width:1248px;
    text-align: center;
}

#buttons{
    display: block;
    font-size: 20px;
    margin:0px auto 0px auto;   
}

#buttons .w3-btn{
    float:none;
}




