html {
    min-height: 100%;
    position: relative; 
}
body {
    margin: 0 0 200px; /* bottom = footer height */
    background-color:black; 
}

p{font-family: 'Raleway', sans-serif;}

.centering{display:block;margin:0 auto;max-width:1248px}
.centering-text{display:block;margin:0 auto;max-width:1248px;text-align:center}

#banner{
    background-repeat: repeat-x;
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
        ),
        url(../img/game_icons_3.png);
    height: 550px;
}


#banner-header, #praise-header, #download-header, #footer-header{font-family: 'Permanent Marker', cursive;}
#banner-header{font-size: 92px;}
#praise-header, #download-header{font-size: 42px;}
#download-header{font-size: 32px;}

#praise{
    position:relative; 
    top:-150px;
    margin-bottom: -130px;
}

.w3-badge {height:13px;width:13px;padding:0}


#exclamation-circle{
    position: relative;
    top: -5.0em;
    left: 5%;
    z-index: 2;
    
}
#exclamation-icon{
    color:#F2E85C; 
}
#exclamation-icon-background{
    color: black; 
    top: 0.1em;
}
#series-text{
    width:80%;
    left: 5em;
    position:relative;
    top: -11.0em;
}
#praise-text{
    width:80%;
    position:relative;
    top: -11.0em;
    
}

/*Check Box*/
.checkbox-container{width:100%;height: 100%;text-align:left;}
.checkbox-label{display:block;padding-right: 10px;padding-left: 22px;text-indent: -22px;}
#download{width:100%;}

/* Mobile Changes */
@media (max-width: 500px){ 
    #series-text{width:100%; top:-10.0em; left:0em; margin:0px !important;}
    #banner-header{font-size:22px;}
    body {margin: 0 0 200px; /* bottom = footer height */	}
    footer {bottom: 0;height: 0px;left: 0;position: absolute;width: 100%; padding: 0px !important;}
    [data-balloon]:after,
    [data-balloon]:before { display: none; }	
}
@media (min-width:501px) and (max-width:700px){
    .checkbox-container{-webkit-column-count: 2; /* Chrome, Safari, Opera */-moz-column-count: 2; /* Firefox */column-count: 2;}
    [data-balloon]:after,
    [data-balloon]:before { display: none; }	
}
@media (min-width:701px) and (max-width:1200px){
    .checkbox-container{-webkit-column-count: 3; /* Chrome, Safari, Opera */-moz-column-count: 3; /* Firefox */column-count: 3;}
    .tooltip{border-bottom: 1px dotted black;}
}
@media (min-width:1201px){
    #series-text{
        width:60%;
    }
    .checkbox-container{-webkit-column-count: 4; /* Chrome, Safari, Opera */-moz-column-count: 4; /* Firefox */column-count: 4;}
    .tooltip{border-bottom: 1px dotted black;}
}

/* Reset Select */
select {-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;appearance: none;outline: 0;box-shadow: none;border: 0 !important;background: #fff;background-image: none;}
/* Custom Select */
.select {position: relative;display: block;width: 100%;height: 3em;line-height: 3;border: 1px solid black;background: #fff;overflow: hidden;margin-top:10px;}
select {width: 100%;height: 100%;margin: 0;padding: 0 0 0 .5em;color: black;cursor: pointer;resize: none !important;}
select::-ms-expand {display: none;}
/* Arrow */
.select::after {content: '\25BC';position: absolute;top: 0;right: 0;bottom: 0;padding: 0 1em;background:white;pointer-events: none;}
/* Transition */
.select:hover::after {color: black;}
.select::after {-webkit-transition: .25s all ease;-o-transition: .25s all ease;transition: .25s all ease;}
.select-items{background-color: DodgerBlue;}