/* attributes are a-z order */
nav, .w3-modal h2, #popup h1, #popup h4, #about-banner h1, #about-banner h2{
    font-family: 'Oswald', sans-serif;
}
h1,h2,h3,h4,h5,p{
   font-family: 'Merriweather', serif;
   padding-left: 2%;
   padding-right:2%; 
}
p{
    font-size: 19px;
    padding-left: 2%;
   padding-right: 2%;
}
.centering{
    display:block;
    margin:0px auto 0px auto;
    max-width:1248px;
}
.modal-header{
    text-align:center;
}
/* change this in W3 */
.w3-panel{
    margin-bottom: 0 !important;
}
#button1{
    margin-bottom: 2%;
}

#banner{
    max-height: 325px;  
    width:100%;
}
#about-banner{ 
    width:100%;
    position: relative;   
    top: -15px;
}
#about-banner h1{
    font-size: 48px;
}
#about-banner h1{
    font-size: 48px;
}
#about-banner .centering{
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
    margin-top: 15px;
}
#book-img img{
    margin-top: 15%;
    max-width: 200px;
    width:100%;
}

#popup h4{
    margin-bottom: 10px;
}

#popup h1{
    margin-top: 10px;
}

  /*  font-family: 'Oswald', sans-serif;

    font-family: 'Merriweather', serif; */
#popup{
    bottom: 0;
    position: fixed;
    margin-bottom: 0;
    width: 100%;
    z-index: 10;
}

@media only screen and (max-width: 600px){
    #banner-display{
        display: none;
    }
}


