/* attributes are a-z order */
nav, .w3-modal h2, #popup h1, #popup h4, #about-banner h1, #about-banner h2, footer a,{
    font-family: 'Oswald', sans-serif;
}
h1,h2,h3,h4,h5,p,  tr, th {
   font-family: 'Merriweather', serif;
   padding-left: 2%;
   padding-right:2%; 
}

#text-change{
    font-family: 'Oswald', sans-serif;
}
p{
    font-size: 19px;
    padding-left: 2%;
   padding-right: 2%;
}
.centering{
    display:block;
    margin:0px auto 0px auto;
    max-width:1248px;
}
.modal-header{
    text-align:center;
}
/* change this in W3 */
.w3-panel{
    margin-bottom: 0 !important;
}
#button1{
    margin-bottom: 2%;
}

#banner{
    max-height: 325px;  
    width:100%;
}
#about-banner{ 
    width:100%;
    position: relative;   
    top: -15px;
}
#about-banner h1{
    font-size: 48px;
}
#about-banner h1{
    font-size: 48px;
}
#about-banner .centering{
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
    margin-top: 15px;
}
#book-img img{
    margin-top: 15%;
    max-width: 200px;
    width:100%;
}

#popup h4{
    margin-bottom: 10px;
}

#popup h1{
    margin-top: 10px;
}

  /*  font-family: 'Oswald', sans-serif;

    font-family: 'Merriweather', serif; */
#popup{
    bottom: 0;
    position: fixed;
    margin-bottom: 0;
    width: 100%;
    z-index: 10;
}

@media only screen and (max-width: 600px){
    #banner-display{
        display: none;
    }
}


ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
    font-family: 'Merriweather', serif;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}
table
{
    font-size: 16px;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
#Codexes{
    display: block;
}

